<div class="flex flex-col space-y-8">
    <div class="tab">
        <nwn-tab-nav-item></nwn-tab-nav-item>
    </div>
    <div class="flex flex-row items-center justify-between">
        <nwn-toggle></nwn-toggle>
        <div class="flex flex-row flex-wrap space-x-4">
            <div>
                <nwn-legend-items nwnLegendItems="onesquare" type="squaresm" color="bgLBlue-100"
                    >Low seasonality</nwn-legend-items
                >
            </div>
            <div>
                <nwn-legend-items nwnLegendItems="onesquare" type="squaresm" color="bgLBlue-200"
                    >Medium seasonality</nwn-legend-items
                >
            </div>
            <div>
                <nwn-legend-items nwnLegendItems="onesquare" type="squaresm" color="bgLBlue-300"
                    >High seasonality</nwn-legend-items
                >
            </div>
            <div>
                <nwn-legend-items nwnLegendItems="triangle-tr" type="triangletr" color="border-gray"
                    >Holiday week</nwn-legend-items
                >
            </div>
            <div>
                <nwn-legend-items nwnLegendItems="onesquare" type="squaresm" color="bg-gray-500"
                    >Base value</nwn-legend-items
                >
            </div>
            <div>
                <nwn-legend-items nwnLegendItems="onesquare" type="squaresm" color="bg-gray-700"
                    >Simulated value</nwn-legend-items
                >
            </div>
            <div>
                <nwn-legend-items
                    nwnLegendItems="twosquare"
                    type="squaresm"
                    colorVariantFirst="bgGreenAccent"
                    colorVariantSecond="bgRed-600"
                    >Simulated value</nwn-legend-items
                >
            </div>
        </div>
    </div>
    <div>
        <!-- <nwn-table-view></nwn-table-view> -->
    </div>
</div>
