<div class="w-[650px] bg-white mx-auto my-6">
    <div class="border-b border-marsgray-200">
        <nwn-command-header type="stroke" nwnSvgIcon="strategic-cells">Filter by strategic cells</nwn-command-header>
    </div>
    <div class="border-b border-marsgray-200">
        <nwn-command-search [value]="searchText" [placeholder]="placeholder" [hideClose]="true" (inputChangeEvent)="inputChangeEvent($event)"></nwn-command-search>
    </div>
    <div class="scrollbar-y h-[287px]">
        <ng-container *ngIf="!pricing">
            <nwn-command-multiselect (valueChangeSelect)="valueChangeSelect($event,'Strategic cells')"  *ngFor="let stragetic_cell of stragetic_cells | appFilter: searchText;" [value] = "stragetic_cell.value" [checked]="stragetic_cell.checked" [leftBorder]="false" [hideClose]="true">{{stragetic_cell.value}}</nwn-command-multiselect>
        </ng-container>
        <ng-container *ngIf="pricing">
            <nwn-command-multiselect (valueChangeSelect) = "allselect($event)" [value] = "all_.value" [checked]="all_.checked" [leftBorder]="false" [hideClose]="true" >{{all_.value}}</nwn-command-multiselect>
            <nwn-command-multiselect (valueChangeSelect)="valueChangeSelectPricing($event,'Strategic cells')"  *ngFor="let stragetic_cell of stragetic_cells | appFilter: searchText;" [value] = "stragetic_cell.value" [checked]="stragetic_cell.checked" [leftBorder]="false" [hideClose]="true">{{stragetic_cell.value}}</nwn-command-multiselect>
        </ng-container>

            <!-- <nwn-command-multiselect [leftBorder]="false" [hideClose]="true">Candy bar</nwn-command-multiselect>
        <nwn-command-multiselect [leftBorder]="false" [hideClose]="true">Candy bar</nwn-command-multiselect>
        <nwn-command-multiselect [leftBorder]="false" [hideClose]="true">Candy bar</nwn-command-multiselect>
        <nwn-command-multiselect [leftBorder]="false" [hideClose]="true">Candy bar</nwn-command-multiselect>
        <nwn-command-multiselect [leftBorder]="false" [hideClose]="true">Candy bar</nwn-command-multiselect>
        <nwn-command-multiselect [leftBorder]="false" [hideClose]="true">Candy bar</nwn-command-multiselect>
        <nwn-command-multiselect [leftBorder]="false" [hideClose]="true">Candy bar</nwn-command-multiselect> -->
    </div>
    <nwn-search-footer (click) = "apply('filter-stragetic-cells')" [showKeyBoardCtrl]="true" [showApply]="true"></nwn-search-footer>
</div>
