<header style="min-height: 49vw;background: rgba(250, 250, 250, 0.7);">
    <!-- Navbar -->
    <!-- <nav class="py-8 bg-white">
      <div class="md:container px-4 md:px-0 mx-auto flex justify-between">
        <img class="w-16" src="https://capp.nicepage.com/bf483e57c95e271afd13aa25e2ecbbe017068d1d/images/default-logo.png" alt="" />
        <div class="space-y-1.5 cursor-pointer">
          <div class="h-1 w-8 bg-gray-600 rounded"></div>
          <div class="h-1 w-8 bg-gray-600 rounded"></div>
          <div class="h-1 w-8 bg-gray-600 rounded"></div>
        </div>
      </div>
    </nav> -->

    <!-- Section Hero -->
    <!-- <div class="py-14" style="background-color: #f9fafb;position: relative;">
      <img class="w-16"
      src="/assets/subbrand-img/russia.png" alt="" style="position: absolute;top:14px;right:20px;"/> -->
      <div class="py-14">
        <div style="
        display: flex;
        justify-content: center;
        align-items: end;
    ">
    <div class="image">
<!--        <img class="w-16"-->
<!--        [src]="country_img" alt="" />-->
      </div>
      <h3 class="ml-2 text-2xl tracking-widest text-black-600 text-center">MARS SRM {{country}} - Advanced Analytics Tool Kit</h3>
    </div>
      <!-- <h1 class="mt-8 text-center text-5xl text-black-600 font-bold">Advanced Analytics Tool Kit</h1> -->

      <!-- Box -->
      <div class="md:flex md:justify-center md:space-x-8 md:px-14">
        <!-- box-1 -->
        <div  *ngIf ="groups[0]=='pricing' || groups[0] == 'admin'"class="cursor-pt mt-16 py-4 px-4 bg-whit w-72 bg-white rounded-xl shadow-lg hover:shadow-xl transform hover:scale-110 transition duration-500 mx-auto md:mx-0" (click)="redirectPage('pricing-tool')">
          <div class="w-sm">
            <div style="text-align: -webkit-center;">
              <nwn-svg-icon id="card-logo-pricing-tool" type="stroke" size="lg" nwnSvgIcon="pricing-tool"></nwn-svg-icon>
            </div>

            <div class="mt-4 text-black-600 text-center">
              <h1 class="text-xl font-bold">Pricing Tool</h1>
              <p class="mt-4 text-gray-600 text-left text-sm">Scenario Creation capability to plan for Pricing with the impact of price increases on volume and Mars/Customer P&L metrics. Data-Driven Price Simulation enables buy-in from key stakeholders in order to seamlessly execute pricing decisions.</p>
              <!-- <button class="mt-8 mb-4 py-2 px-14 rounded-full more-button-bg text-white tracking-widest hover:bg-green-500 transition duration-200">GO</button> -->
            </div>
          </div>
        </div>

        <!-- box-2 -->
        <div *ngIf ="groups[0]=='pricing' || groups[0] == 'admin'" class="cursor-pt mt-16 py-4 px-4 bg-whit w-72 bg-white rounded-xl shadow-lg hover:shadow-xl transform hover:scale-110 transition duration-500 mx-auto md:mx-0"  (click)="redirectPage('mars-category')">
          <div class="w-sm">
            <div style="text-align: -webkit-center;">
              <nwn-svg-icon id="card-logo-srm-insight" type="stroke" size="lg" nwnSvgIcon="promo-tool"></nwn-svg-icon>
            </div>
            <div class="mt-4 text-black-600 text-center">
              <h1 class="text-xl font-bold">MARS Category and Pricing Dashboard</h1>
              <p class="mt-4 text-gray-600 text-left text-sm">Helps to understand the price trends across
                  manufacturers, brands and pack types over time. Allows users to identify the instances in
                  which products are under-priced or over-priced relative to the competitive positioning and
                  where price adjustments are required, thus helping them to understand and improve the
                  overall effectiveness of the pricing strategy.</p>
              <!-- The Pricing Insights Platform is a one-stop platform to get a 360-degree view on the effectiveness of trade promotion levers and observe trends which will allow Trade Executives & SRM team to identify opportunities and enable account teams to drive growth & add value to retail partners. -->
            </div>
          </div>
          <!-- <div class="text-center for-more">
            <button class="mt-8 mb-4 py-2 px-14 rounded-full more-button-bg text-white tracking-widest hover:bg-green-500 transition duration-200">GO</button>
          </div> -->
        </div>
        <div  *ngIf ="groups[0]=='promo' || groups[0] == 'admin'" class="cursor-pt mt-16 py-4 px-4 bg-whit w-72 bg-white rounded-xl shadow-lg hover:shadow-xl transform hover:scale-110 transition duration-500 mx-auto md:mx-0" (click)="redirectPage('promo-tool')">
          <div class="w-sm">
            <div style="text-align: -webkit-center;">
              <nwn-svg-icon id="card-logo-promo-tool" type="stroke" size="lg" nwnSvgIcon="promo-tool"></nwn-svg-icon>
            </div>
            <div class="mt-4 text-black-600 text-center">
              <h1 class="text-xl font-bold">Promo Tool</h1>
              <p class="mt-4 text-gray-600 text-left text-sm">Promo tool which enables the stakeholders to optimize the promotion plans subject to various constraints & simulate various promo scenarios and understand the impact on financial metrics for MARS and the customers.</p>
              <!-- <button class="mt-8 mb-4 py-2 px-14 rounded-full more-button-bg text-white tracking-widest hover:bg-green-500 transition duration-200">GO</button> -->
            </div>
          </div>
        </div>
        <div *ngIf ="groups[0]=='promo' || groups[0] == 'admin'" class="cursor-pt mt-16 py-4 px-4 bg-whit w-72 bg-white rounded-xl shadow-lg hover:shadow-xl transform hover:scale-110 transition duration-500 mx-auto md:mx-0"  (click)="redirectPage('srm-insight')">
          <div class="w-sm">
            <div style="text-align: -webkit-center;">
              <nwn-svg-icon id="card-logo-srm-insight" type="stroke" size="lg" nwnSvgIcon="srm-insight"></nwn-svg-icon>
            </div>
            <div class="mt-4 text-black-600 text-center">
              <h1 class="text-xl font-bold">Promo Insights</h1>
              <p class="mt-4 text-gray-600 text-left text-sm">A one-stop platform to get a 360-degree view on the effectiveness of trade
                  promotion levers and observe trends that will allow Trade Executives &amp; SRM teams to
                  identify opportunities to enable account teams to drive growth &amp; add value to retail partners.</p>
              <!-- The Pricing Insights Platform is a one-stop platform to get a 360-degree view on the effectiveness of trade promotion levers and observe trends which will allow Trade Executives & SRM team to identify opportunities and enable account teams to drive growth & add value to retail partners. -->
            </div>
          </div>
          <!-- <div class="text-center for-more">
            <button class="mt-8 mb-4 py-2 px-14 rounded-full more-button-bg text-white tracking-widest hover:bg-green-500 transition duration-200">GO</button>
          </div> -->
        </div>
        <div *ngIf ="groups[0]=='promo' || groups[0] == 'admin'" class="cursor-pt mt-16 py-4 px-4 bg-whit w-72 bg-white rounded-xl shadow-lg hover:shadow-xl transform hover:scale-110 transition duration-500 mx-auto md:mx-0" (click)="redirectPage('profit-tool')">
          <div class="w-sm">
            <div style="text-align: -webkit-center;">
              <nwn-svg-icon id="card-logo-profit-pool" type="stroke" size="lg" nwnSvgIcon="profit-tool"></nwn-svg-icon>
            </div>
            <div class="mt-4 text-black-600 text-center">
              <h1 class="text-xl font-bold">Profit Pool</h1>
              <p class="mt-4 text-gray-600 text-left text-sm">The Profit Pool tool is a complete solution giving the users a hawkeye view of
                  the financial portfolio of the business. It provides visibility into business margins and
                  expenses, across years and different channels, this in turn will enable the key stakeholders to
                  identify potential value drivers.</p>
            </div>
            <!-- <div class="text-center for-more">
              <button class="mt-8 mb-4 py-2 px-14 rounded-full more-button-bg text-white tracking-widest hover:bg-green-500 transition duration-200">GO</button>
            </div> -->
          </div>
        </div>



      <!-- </div>



      <div class="md:flex md:justify-center md:space-x-8 md:px-14"> -->
        <!-- box-3 -->
        <!-- <div class="cursor-pt mt-16 py-4 px-4 bg-whit w-72 bg-white rounded-xl shadow-lg hover:shadow-xl transform hover:scale-110 transition duration-500 mx-auto md:mx-0" (click)="redirectPage('profit-tool')">
          <div class="w-sm">
            <div style="text-align: -webkit-center;">
              <nwn-svg-icon id="card-logo-profit-pool" type="stroke" size="lg" nwnSvgIcon="profit-tool"></nwn-svg-icon>
            </div>
            <div class="mt-4 text-black-600 text-center">
              <h1 class="text-xl font-bold">Profit Pool</h1>
              <p class="mt-4 text-gray-600 text-left text-sm">The Profit Pool tool is a complete solution for taking a look at the financial portfolio of the business. It provides visibility into business margins and expenses, across the years and channels, which will allow the  key stakeholders to identify potential value drivers.</p>
            </div>

          </div>
        </div> -->

      <!-- box-4 -->
      <!-- <div class="cursor-pt mt-16 py-4 px-4 bg-whit w-72 bg-white rounded-xl shadow-lg hover:shadow-xl transform hover:scale-110 transition duration-500 mx-auto md:mx-0"  (click)="redirectPage('pricing-capabilities')">
        <div class="w-sm">
          <div style="text-align: -webkit-center;">
            <nwn-svg-icon id="card-logo-pricing-capabilities" type="stroke" size="lg" nwnSvgIcon="pricing-capabilities"></nwn-svg-icon>
          </div>
          <div class="mt-4 text-black-600 text-center">
            <h1 class="text-xl font-bold">Pricing Capabilities</h1>
            <p class="mt-4 text-gray-600 text-left text-sm">The Pricing Analysis Platform is a tool that helps to understand the price trends across manufacturers, brands, pack types, etc across time.
                </p>
            </div>
        </div>
      </div> -->

      <!-- box-5 -->
      <!-- <div class="cursor-pt mt-16 py-4 px-4 bg-whit w-72 bg-white rounded-xl shadow-lg hover:shadow-xl transform hover:scale-110 transition duration-500 mx-auto md:mx-0"  (click)="redirectPage('srm-insight')">
        <div class="w-sm">
          <div style="text-align: -webkit-center;">
            <nwn-svg-icon id="card-logo-srm-insight" type="stroke" size="lg" nwnSvgIcon="srm-insight"></nwn-svg-icon>
          </div>
          <div class="mt-4 text-black-600 text-center">
            <h1 class="text-xl font-bold">SRM Insights</h1>
            <p class="mt-4 text-gray-600 text-left text-sm">The SRM Insights Platform is a one-stop platform to get a 360-degree view on the effectiveness of trade promotion levers and observe trends which will allow Trade Executives & SRM team to identify opportunities and enable account teams to drive growth & add value to retail partners.</p>
          </div>
        </div>

      </div> -->
      </div>

    </div>
  </header>

  <!-- Footer -->
  <footer class="text-center bg-gray-700">
    <!-- <p class="text-white">
      MARS SRM RUSSIA - Advanced Analytics Tool Kit
    </p> -->
    <p class="text-white">
      Copyright @2021 All rights reserved
      <!-- <span class="underline text-green-200 cursor-pointer">Website Templates </span>
      created with <span class="underline text-green-200 cursor-pointer">Website Builder Software.</span> -->
    </p>
  </footer>
