.enabledInput {
    @apply text-title-medium text-marsgray-700
    w-[80px]
    /* h-9 */
    px-2
    py-1
    rounded-none
    border border-marsgray-300
    focus:border-marsgray-500 focus:outline-none
    bg-marsgray-50
    text-center;
    font-size: 18px;
    height: 2rem;
}

input[type='number'] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
