<div class="nwn-modal">
    <div class="fixed z-50 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <div class="nwn-modal-bg" aria-hidden="true"></div>
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
            <!-- overflow-hidden -->
            <div
            [ngClass]="{
                'overflow-hidden': overflow
            }"
            
                class="
                    inline-block
                    align-bottom
                    text-left
                    
                    shadow-xl
                    transform
                    transition-all
                    sm:align-middle
                    sm:w-auto
                "
            >
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>
