<div class="px-12 py-5">
    <div class="text-left py-5">
        <h1 class="text-heading font-extrabold inline-block align-middle">Summary</h1>
        <div class="inline-block border border-gray-300 multitext">
            <!-- <ng-container *ngIf="index == 1">Simulated calendars results {{message1}}.<br/>{{message2}}.{{message3}}.</ng-container> -->
            <ng-container *ngIf="index == 1 || index == 2 || index == 3">Simulated scenario results {{message1}}.<br/>{{message2}}{{message3}}</ng-container>
        </div>
    </div>
    <div class="flex flex-row flex-wrap border-b border-marsgray-300">
        <div class="pr-6">
            <nwn-tab-cta (click)="toggleTabs(1)" [type]="openTab === 1 ? 'selectedtab' : 'unselectedtab'"
                >Aggregated</nwn-tab-cta
            >
        </div>
        <div class="pr-6">
            <nwn-tab-cta (click)="toggleTabs(2)" [type]="openTab === 2 ? 'selectedtab' : 'unselectedtab'"
                >Weekly</nwn-tab-cta
            >
        </div>
    </div>
    <div id="agregated" [ngClass]="{ hidden: openTab !== 1, block: openTab === 1 }">
        <div class="flex flex-row justify-start border-b border-marsgray-300">
            <div class="border-r border-marsgra-300 pr-6 py-5">
                <div class="pt-5 pb-10">
                    <h1 class="text-title-medium text-gray-700 font-medium">Baseline vs Incremental</h1>
                </div>
                <div class="pt-12 pr-8">
                    <nwn-baseline-lift-chart [currency] = "currency" [baselineliftdata]="baselineLiftChartData"></nwn-baseline-lift-chart>
                </div>
                <div class="flex flex-row flex space-x-4 my-6">
                    <div>
                        <nwn-legend-items nwnLegendItems="onesquare" type="squaresm" color="bgLBlue-100"
                            >Incremental</nwn-legend-items
                        >
                    </div>
                    <div>
                        <nwn-legend-items nwnLegendItems="onesquare" type="squaresm" color="bgLBlue-300"
                            >Base</nwn-legend-items
                        >
                    </div>
                    <div>
                        <nwn-legend-items nwnLegendItems="onesquare" type="squaresm" color="bgLBlue-600"
                            >Simulated</nwn-legend-items
                        >
                    </div>
                </div>
            </div>
            <div class="py-5 pl-6 scrollbar-x" [ngStyle]="{ 'width.px': aggregatedGraphWidth }" (scroll)="updateScroll('Graph')" #scrollOne>
                <div class="flex flex-row justify-between pt-5 pb-10 w-full">
                    <h1 class="text-title-medium text-gray-700 font-medium">Mars & Customer P&L Metrics</h1>
                    <div class="flex flex-row space-x-2">
                        <!-- <div class="w-20 h-auto border border-marsgray-100 img-height">
                            <img class="w-full h-auto" [src]="product|imagePipe" alt="" />
                        </div> -->
                        <!-- <div class="w-20 h-auto border border-marsgray-100">
                            <img class="w-full h-auto" src="/assets/subbrand-img/twix.png" alt="" />
                        </div>
                        <div class="w-20 h-auto border border-marsgray-100">
                            <img class="w-full h-auto" src="/assets/subbrand-img/american-heritage.png" alt="" />
                        </div>
                        <div class="flex items-center w-20 px-3 h-auto">
                            <p class="text-body-standard text-marsgray-700 font-normal">+5</p>
                        </div> -->
                    </div>
                </div>
                <div class="pt-12">
                    <nwn-pl-chart [currency] = "currency" [plchartdata]='plChartData'></nwn-pl-chart>
                </div>
                <div class="flex flex-row-reverse space-x-4 space-x-reverse my-6">
                    <div>
                        <nwn-legend-items nwnLegendItems="onesquare" type="squaresm" color="bgLBlue-600"
                            >Simulated</nwn-legend-items
                        >
                    </div>
                    <div>
                        <nwn-legend-items nwnLegendItems="onesquare" type="squaresm" color="bgLBlue-300"
                            >Base</nwn-legend-items
                        >
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-row justify-between items-center py-10">
            <div class="flex flex-row flex-wrap border border-marsgray-300">
                <div class="p-3" (click)="aggregatedSubTabClick('Absolute')">
                    <nwn-toggle-cta type="{{aggregatedTab.absolute}}">Absolute change</nwn-toggle-cta>
                </div>
                <div class="p-3" (click)="aggregatedSubTabClick('Percentage')">
                    <nwn-toggle-cta type="{{aggregatedTab.percent}}">Percentage change</nwn-toggle-cta>
                </div>
            </div>
            <div class="flex flex-row flex-wrap space-x-4">
                <div>
                    <nwn-legend-items nwnLegendItems="onesquare" type="squaresm" color="bg-gray-500"
                        >Base value</nwn-legend-items
                    >
                </div>
                <div>
                    <nwn-legend-items nwnLegendItems="onesquare" type="squaresm" color="bg-gray-700"
                        >Simulated value</nwn-legend-items
                    >
                </div>
                <div>
                    <nwn-legend-items
                        nwnLegendItems="twosquare"
                        type="squaresm"
                        colorVariantFirst="bgGreenAccent"
                        colorVariantSecond="bgRed-600"
                        >Changed Value</nwn-legend-items
                    >
                </div>
            </div>
        </div>
        <div class="flex flex-row justify-start items-center py-5" *ngIf="incrementalLift">
            <div class="baselinemetrics min-w-[320px]">
                <table class="border border-marsgray-200 text-left">
                    <thead class="bg-white">
                        <tr class="whitespace-nowrap">
                            <th colspan="2" scope="colgroup">
                                <nwn-cell-header type="headersm" color="bggray-100">Baseline vs Incremental</nwn-cell-header>
                            </th>
                        </tr>
                        <tr class="whitespace-nowrap">
                            <th colspan="1" scope="colgroup">
                                <nwn-cell-header type="subheadermd" color="bgtransparent"
                                    >Baseline</nwn-cell-header
                                >
                            </th>
                            <th colspan="1" scope="colgroup">
                                <nwn-cell-header type="subheadermd" color="bgtransparent"
                                    >Incremental Volume</nwn-cell-header
                                >
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        <tr class="whitespace-nowrap">
                            <td><nwn-cell-item [differenceFormat]="activeAggregatedTab" [nwnCellData]="baseline"></nwn-cell-item></td>
                            <td><nwn-cell-item [differenceFormat]="activeAggregatedTab" [nwnCellData]="incrementalLift"></nwn-cell-item></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="marsplmetrics ml-7 scrollbar-x" (scroll)="updateScroll('Table')" #scrollTwo>
                <table class="border border-marsgray-200 text-left">
                    <thead class="bg-white">
                        <tr class="whitespace-nowrap">
                            <th colspan="2" scope="colgroup">
                                <nwn-cell-header type="headersm" color="bggray-100">Customer P&L Metrics</nwn-cell-header>
                            </th>
                            <th colspan="5" scope="colgroup">
                                <nwn-cell-header type="headersm" color="bggray-100">Mars P&L Metrics</nwn-cell-header>
                            </th>
                        </tr>
                        <tr class="whitespace-nowrap">
                            <th colspan="1" scope="colgroup">
                                <nwn-cell-header type="subheadermd" color="bgtransparent">RSV</nwn-cell-header>
                            </th>
                            <th colspan="1" scope="colgroup">
                                <nwn-cell-header type="subheadermd" color="bgtransparent" >Retailer Margin</nwn-cell-header >
                            </th>

                            <th colspan="1" scope="colgroup">
                                <nwn-cell-header type="subheadermd" color="bgtransparent">GSV</nwn-cell-header>
                            </th>
                            <th colspan="1" scope="colgroup">
                                <nwn-cell-header type="subheadermd" color="bgtransparent" >Trade expense</nwn-cell-header >
                            </th>
                            <th colspan="1" scope="colgroup">
                                <nwn-cell-header type="subheadermd" color="bgtransparent">NSV</nwn-cell-header>
                            </th>
                            <th colspan="1" scope="colgroup">
                                <nwn-cell-header type="subheadermd" color="bgtransparent">COGS</nwn-cell-header>
                            </th>
                            <th colspan="1" scope="colgroup">
                                <nwn-cell-header type="subheadermd" color="bgtransparent">MAC</nwn-cell-header>
                            </th>
                            <!-- <th colspan="1" scope="colgroup">
                                <nwn-cell-header type="subheadermd" color="bgtransparent">MAC,%NSV</nwn-cell-header>
                            </th> -->

                            <!-- <th colspan="1" scope="colgroup">
                                <nwn-cell-header type="subheadermd" color="bgtransparent" >TE,%LSV</nwn-cell-header >
                            </th>
                            <th colspan="1" scope="colgroup">
                                <nwn-cell-header type="subheadermd" color="bgtransparent"
                                    >TE/Unit</nwn-cell-header
                                >
                            </th>
                            <th colspan="1" scope="colgroup">
                                <nwn-cell-header type="subheadermd" color="bgtransparent"
                                    >ROI</nwn-cell-header
                                >
                            </th> -->

                            <!-- <th colspan="1" scope="colgroup">
                                <nwn-cell-header type="subheadermd" color="bgtransparent">ASP</nwn-cell-header>
                            </th>
                            <th colspan="1" scope="colgroup">
                                <nwn-cell-header type="subheadermd" color="bgtransparent">Promo ASP</nwn-cell-header>
                            </th> -->


                            <!-- <th colspan="1" scope="colgroup">
                                <nwn-cell-header type="subheadermd" color="bgtransparent"
                                    >Trade margin,%RSV</nwn-cell-header
                                >
                            </th> -->
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        <tr class="whitespace-nowrap">
                            <td><nwn-cell-item [differenceFormat]="activeAggregatedTab" [nwnCellData]="rsvWithoutVat"></nwn-cell-item></td>
                            <td><nwn-cell-item [differenceFormat]="activeAggregatedTab" [nwnCellData]="customerMargin"></nwn-cell-item></td>

                            <td><nwn-cell-item [differenceFormat]="activeAggregatedTab" [nwnCellData]="lsv"></nwn-cell-item></td>
                            <td><nwn-cell-item [differenceFormat]="activeAggregatedTab" [nwnCellData]="tradeExpence"></nwn-cell-item></td>
                            <td><nwn-cell-item [differenceFormat]="activeAggregatedTab" [nwnCellData]="nsv"></nwn-cell-item></td>
                            <td><nwn-cell-item [differenceFormat]="activeAggregatedTab" [nwnCellData]="cogs"></nwn-cell-item></td>
                            <td><nwn-cell-item [differenceFormat]="activeAggregatedTab" [nwnCellData]="mac"></nwn-cell-item></td>

                            <!-- <td><nwn-cell-item [differenceFormat]="activeAggregatedTab" [nwnCellData]="mac_nsv"></nwn-cell-item></td>
                            <td><nwn-cell-item [differenceFormat]="activeAggregatedTab" [nwnCellData]="te_lsv"></nwn-cell-item></td>
                            <td><nwn-cell-item [differenceFormat]="activeAggregatedTab" [nwnCellData]="te_units"></nwn-cell-item></td>
                            <td><nwn-cell-item [differenceFormat]="activeAggregatedTab" [nwnCellData]="roi"></nwn-cell-item></td>
                            <td><nwn-cell-item [differenceFormat]="activeAggregatedTab" [nwnCellData]="asp"></nwn-cell-item></td>
                            <td><nwn-cell-item [differenceFormat]="activeAggregatedTab" [nwnCellData]="promo_asp"></nwn-cell-item></td> -->

                            <!-- <td><nwn-cell-item [differenceFormat]="activeAggregatedTab" [nwnCellData]="customermargin_rsv"></nwn-cell-item></td> -->

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="weekly" class="weekly" [ngClass]="{ hidden: openTab !== 2, block: openTab === 2 }">
        <div class="flex flex-row items-center justify-between py-5">
            <div class="flex flex-row flex-wrap border border-marsgray-300">
                <div class="p-3" (click)="weeklySubTabClick('Absolute')">
                    <nwn-toggle-cta type="{{weeklyTab.absolute}}">Absolute change</nwn-toggle-cta>
                </div>
                <div class="p-3" (click)="weeklySubTabClick('Percentage')">
                    <nwn-toggle-cta type="{{weeklyTab.percent}}">Percentage change</nwn-toggle-cta>
                </div>
            </div>
            <div class="flex flex-row flex-wrap space-x-4 justify-end">
                <div class="mb-2">
                    <!-- <nwn-legend-items nwnLegendItems="onesquare" type="squaresm" color="bgLBlue-100"
                        >Low seasonality</nwn-legend-items
                    > -->
                    <nwn-legend-items nwnLegendItems="onesquare" type="squaresm" color="lightgradient"
                        >Low seasonality</nwn-legend-items
                    >
                </div>
                <div class="mb-2">
                    <nwn-legend-items nwnLegendItems="onesquare" type="squaresm" color="mediumgradient"
                        >Medium seasonality</nwn-legend-items
                    >
                </div>
                <div class="mb-2">
                    <nwn-legend-items nwnLegendItems="onesquare" type="squaresm" color="highgradient"
                        >High seasonality</nwn-legend-items
                    >
                </div>
<!--                <div class="mb-2">-->
<!--                    <nwn-legend-items nwnLegendItems="triangle-tr" type="triangletr" color="border-gray"-->
<!--                        >Holiday week</nwn-legend-items-->
<!--                    >-->
<!--                </div>-->
                <div class="mb-2">
                    <nwn-legend-items nwnLegendItems="onesquare" type="squaresm" color="bg-gray-500"
                        >Base value</nwn-legend-items
                    >
                </div>
                <div class="mb-2">
                    <nwn-legend-items nwnLegendItems="onesquare" type="squaresm" color="bg-gray-700"
                        >Simulated value</nwn-legend-items
                    >
                </div>
                <div class="mb-2">
                    <nwn-legend-items
                        nwnLegendItems="twosquare"
                        type="squaresm"
                        colorVariantFirst="bgGreenAccent"
                        colorVariantSecond="bgRed-600"
                        >Changed Value</nwn-legend-items
                    >
                </div>
            </div>
        </div>

        <div
            id="weeklyScenariotable"
            class="weeklyScenariotable scrolly_table scrollbar"
            [ngStyle]="{ 'width.px': weeklyTableWidth, 'height.px': weeklyTableHeight }"
        >
            <table class="border border-marsgray-200 text-left">
                <thead class="bg-white">
                    <tr class="whitespace-nowrap">
                        <td class="sticked freeze tableDropdown whitespace-nowrap freeze" rowspan="2" colspan="1">
<!--                            <ngx-select-dropdown-->
<!--                                tabindex="0"-->
<!--                                [multiple]="false"-->
<!--                                [(ngModel)]="singleSelect"-->
<!--                                [config]="config"-->
<!--                                [options]="optionsNormal"-->
<!--                            ></ngx-select-dropdown>-->
<!--                            <nwn-cell-header type="headersm" color="bggray-100">1 Year</nwn-cell-header>-->
                        </td>
                        <th colspan="1" scope="colgroup" class="sticked freeze_vertical">
                            <nwn-cell-header type="headersm" color="bggray-100">Promotion plans</nwn-cell-header>
                        </th>
                        <th colspan="3" scope="colgroup" class="sticked freeze_vertical">
                            <nwn-cell-header type="headersm" color="bggray-100">Sales metrics</nwn-cell-header>
                        </th>
                        <th colspan="5" scope="colgroup" class="sticked freeze_vertical">
                            <nwn-cell-header type="headersm" color="bggray-100">Retailer metrics</nwn-cell-header>
                        </th>
                        <th colspan="7" scope="colgroup" class="sticked freeze_vertical">
                            <nwn-cell-header type="headersm" color="bggray-100">Mars metrics</nwn-cell-header>
                        </th>
                        <th colspan="2" scope="colgroup" class="sticked freeze_vertical">
                            <nwn-cell-header type="headersm" color="bggray-100">Other metrics</nwn-cell-header>
                        </th>
                    </tr>
                    <tr class="whitespace-nowrap">
                        <th class="sticked freeze_vertical" colspan="1" scope="col">
                            <nwn-cell-header type="subheadersm" color="bgwhite">Promotions</nwn-cell-header>
                        </th>
                        <th class="sticked freeze_vertical" scope="col">
                            <nwn-cell-header type="subheadersm" color="bgwhite">Volume</nwn-cell-header>
                        </th>
                        <th class="sticked freeze_vertical" scope="col">
                            <nwn-cell-header type="subheadersm" color="bgwhite">Base Volume</nwn-cell-header>
                        </th>
                        <th class="sticked freeze_vertical" scope="col">
                            <nwn-cell-header type="subheadersm" color="bgwhite">Incremental Volume</nwn-cell-header>
                        </th>
<!--                        <th class="sticked freeze_vertical" scope="col">-->
<!--                            <nwn-cell-header type="subheadersm" color="bgwhite">Volume (In Tonnes)</nwn-cell-header>-->
<!--                        </th>-->
                        <th class="sticked freeze_vertical" scope="col">
                            <nwn-cell-header type="subheadersm" color="bgwhite">RSV</nwn-cell-header>
                        </th>
                        <th class="sticked freeze_vertical" scope="col">
                            <nwn-cell-header type="subheadersm" color="bgwhite">Retailer margin</nwn-cell-header>
                        </th>
                        <th class="sticked freeze_vertical" scope="col">
                            <nwn-cell-header type="subheadersm" color="bgwhite">Retailer margin,%RSV</nwn-cell-header>
                        </th>
                        <th class="sticked freeze_vertical" scope="col">
                            <nwn-cell-header type="subheadersm" color="bgwhite">ASP</nwn-cell-header>
                        </th>
                        <th class="sticked freeze_vertical" scope="col">
                            <nwn-cell-header type="subheadersm" color="bgwhite">Promo ASP</nwn-cell-header>
                        </th>

                        <th class="sticked freeze_vertical" scope="col">
                            <nwn-cell-header type="subheadersm" color="bgwhite">GSV</nwn-cell-header>
                        </th>
                        <th class="sticked freeze_vertical" scope="col">
                            <nwn-cell-header type="subheadersm" color="bgwhite">NSV</nwn-cell-header>
                        </th>
                        <th scope="colgroup">
                            <nwn-cell-header type="subheadermd" color="bgtransparent">MAC</nwn-cell-header>
                        </th>
                        <th class="sticked freeze_vertical" scope="col">
                            <nwn-cell-header type="subheadersm" color="bgwhite">MAC, %NSV</nwn-cell-header>
                        </th>
                        <th class="sticked freeze_vertical" scope="col">
                            <nwn-cell-header type="subheadersm" color="bgwhite">Trade expense</nwn-cell-header>
                        </th>
                        <th class="sticked freeze_vertical" scope="col">
                            <nwn-cell-header type="subheadersm" color="bgwhite">TE, % GSV</nwn-cell-header>
                        </th>
                        <th class="sticked freeze_vertical" scope="col">
                            <nwn-cell-header type="subheadersm" color="bgwhite">TE / Kg</nwn-cell-header>
                        </th>
                        <th class="sticked freeze_vertical" scope="col">
                            <nwn-cell-header type="subheadersm" color="bgwhite">ROI</nwn-cell-header>
                        </th>
                        <th class="sticked freeze_vertical" scope="col">
                            <nwn-cell-header type="subheadersm" color="bgwhite">Lift %</nwn-cell-header>
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                    <tr class="whitespace-nowrap" *ngFor="let week of weeklyData">
                        <th scope="row" class="sticked freeze_horizontal">
                            <nwn-cell-week-item [type]="week.duration | siFilter" [inWeek]="week.duration" ></nwn-cell-week-item>
                        </th>
                        <!-- <td><nwn-cell-item nwnCellItem="promo" [nwnCellData]="week.duration"></nwn-cell-item></td> -->
                        <td><nwn-cell-item nwnCellItem="promo" [nwnCellData]="week.promotions"></nwn-cell-item></td>
                        <td><nwn-cell-item [differenceFormat]="activeWeeklyTab" [nwnCellData]="week.predicted_units"></nwn-cell-item></td>
                        <td><nwn-cell-item [differenceFormat]="activeWeeklyTab" [nwnCellData]="week.base_unit"></nwn-cell-item></td>
                        <td><nwn-cell-item [differenceFormat]="activeWeeklyTab" [nwnCellData]="week.incremental_unit"></nwn-cell-item></td>
<!--                        <td><nwn-cell-item [differenceFormat]="activeWeeklyTab" [nwnCellData]="week.total_weight_in_tons"></nwn-cell-item></td>-->
                        <td><nwn-cell-item [differenceFormat]="activeWeeklyTab" [nwnCellData]="week.total_rsv_w_o_vat"></nwn-cell-item></td>
                        <td><nwn-cell-item [differenceFormat]="activeWeeklyTab" [nwnCellData]="week.retailer_margin"></nwn-cell-item></td>
                        <td><nwn-cell-item [differenceFormat]="activeWeeklyTab" [nwnCellData]="week.retailer_margin_percent_of_rsp"></nwn-cell-item></td>
                        <td><nwn-cell-item [differenceFormat]="activeWeeklyTab" [nwnCellData]="week.asp"></nwn-cell-item></td>
                        <td><nwn-cell-item [differenceFormat]="activeWeeklyTab" [nwnCellData]="week.promo_asp"></nwn-cell-item></td>
                        <td><nwn-cell-item [differenceFormat]="activeWeeklyTab" [nwnCellData]="week.total_lsv"></nwn-cell-item></td>
                        <td><nwn-cell-item [differenceFormat]="activeWeeklyTab" [nwnCellData]="week.total_nsv"></nwn-cell-item></td>
                        <td><nwn-cell-item [differenceFormat]="activeWeeklyTab" [nwnCellData]="week.mars_mac"></nwn-cell-item></td>
                        <td><nwn-cell-item [differenceFormat]="activeWeeklyTab" [nwnCellData]="week.mars_mac_percent_of_nsv"></nwn-cell-item></td>
                        <td><nwn-cell-item [differenceFormat]="activeWeeklyTab" [nwnCellData]="week.trade_expense"></nwn-cell-item></td>
                        <td><nwn-cell-item [differenceFormat]="activeWeeklyTab" [nwnCellData]="week.te_percent_of_lsv"></nwn-cell-item></td>
                        <td><nwn-cell-item [differenceFormat]="activeWeeklyTab" [nwnCellData]="week.te_per_units"></nwn-cell-item></td>
                        <td><nwn-cell-item [differenceFormat]="activeWeeklyTab" [nwnCellData]="week.roi"></nwn-cell-item></td>
                        <td><nwn-cell-item [differenceFormat]="activeWeeklyTab" [nwnCellData]="week.lift_percent"></nwn-cell-item></td>


                    </tr>

<!--
                    <tr class="whitespace-nowrap">
                        <th scope="row" class="sticked freeze_horizontal">
                            <nwn-cell-week-item type="lowholidayweek" [active]="true"></nwn-cell-week-item>
                        </th>
                        <td><nwn-cell-item nwnCellItem="promo"></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                    </tr>
                    <tr class="whitespace-nowrap">
                        <th scope="row" class="sticked freeze_horizontal">
                            <nwn-cell-week-item type="lowholidayweek" [active]="true"></nwn-cell-week-item>
                        </th>
                        <td><nwn-cell-item nwnCellItem="promo"></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                    </tr>
                    <tr class="whitespace-nowrap">
                        <th scope="row" class="sticked freeze_horizontal">
                            <nwn-cell-week-item type="lowholidayweek" [active]="true"></nwn-cell-week-item>
                        </th>
                        <td><nwn-cell-item nwnCellItem="promo"></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                    </tr>
                    <tr class="whitespace-nowrap">
                        <th scope="row" class="sticked freeze_horizontal">
                            <nwn-cell-week-item type="lowholidayweek" [active]="true"></nwn-cell-week-item>
                        </th>
                        <td><nwn-cell-item nwnCellItem="promo"></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                    </tr>
                    <tr class="whitespace-nowrap">
                        <th scope="row" class="sticked freeze_horizontal">
                            <nwn-cell-week-item type="lowholidayweek" [active]="true"></nwn-cell-week-item>
                        </th>
                        <td><nwn-cell-item nwnCellItem="promo"></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                    </tr>
                    <tr class="whitespace-nowrap">
                        <th scope="row" class="sticked freeze_horizontal">
                            <nwn-cell-week-item type="lowholidayweek" [active]="true"></nwn-cell-week-item>
                        </th>
                        <td><nwn-cell-item nwnCellItem="promo"></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                    </tr>
                    <tr class="whitespace-nowrap">
                        <th scope="row" class="sticked freeze_horizontal">
                            <nwn-cell-week-item type="lowholidayweek" [active]="true"></nwn-cell-week-item>
                        </th>
                        <td><nwn-cell-item nwnCellItem="promo"></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                    </tr>
                    <tr class="whitespace-nowrap">
                        <th scope="row" class="sticked freeze_horizontal">
                            <nwn-cell-week-item type="lowholidayweek" [active]="true"></nwn-cell-week-item>
                        </th>
                        <td><nwn-cell-item nwnCellItem="promo"></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                    </tr>
                    <tr class="whitespace-nowrap">
                        <th scope="row" class="sticked freeze_horizontal">
                            <nwn-cell-week-item type="lowholidayweek" [active]="true"></nwn-cell-week-item>
                        </th>
                        <td><nwn-cell-item nwnCellItem="promo"></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                    </tr>
                    <tr class="whitespace-nowrap">
                        <th scope="row" class="sticked freeze_horizontal">
                            <nwn-cell-week-item type="lowholidayweek" [active]="true"></nwn-cell-week-item>
                        </th>
                        <td><nwn-cell-item nwnCellItem="promo"></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                    </tr>
                    <tr class="whitespace-nowrap">
                        <th scope="row" class="sticked freeze_horizontal">
                            <nwn-cell-week-item type="lowholidayweek" [active]="true"></nwn-cell-week-item>
                        </th>
                        <td><nwn-cell-item nwnCellItem="promo"></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                    </tr>
                    <tr class="whitespace-nowrap">
                        <th scope="row" class="sticked freeze_horizontal">
                            <nwn-cell-week-item type="lowholidayweek" [active]="true"></nwn-cell-week-item>
                        </th>
                        <td><nwn-cell-item nwnCellItem="promo"></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                    </tr>
                    <tr class="whitespace-nowrap">
                        <th scope="row" class="sticked freeze_horizontal">
                            <nwn-cell-week-item type="lowholidayweek" [active]="true"></nwn-cell-week-item>
                        </th>
                        <td><nwn-cell-item nwnCellItem="promo"></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                    </tr>
                    <tr class="whitespace-nowrap">
                        <th scope="row" class="sticked freeze_horizontal">
                            <nwn-cell-week-item type="lowholidayweek" [active]="true"></nwn-cell-week-item>
                        </th>
                        <td><nwn-cell-item nwnCellItem="promo"></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                    </tr>
                    <tr class="whitespace-nowrap">
                        <th scope="row" class="sticked freeze_horizontal">
                            <nwn-cell-week-item type="lowholidayweek" [active]="true"></nwn-cell-week-item>
                        </th>
                        <td><nwn-cell-item nwnCellItem="promo"></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                    </tr>
                    <tr class="whitespace-nowrap">
                        <th scope="row" class="sticked freeze_horizontal">
                            <nwn-cell-week-item type="lowholidayweek" [active]="true"></nwn-cell-week-item>
                        </th>
                        <td><nwn-cell-item nwnCellItem="promo"></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                    </tr>
                    <tr class="whitespace-nowrap">
                        <th scope="row" class="sticked freeze_horizontal">
                            <nwn-cell-week-item type="lowholidayweek" [active]="true"></nwn-cell-week-item>
                        </th>
                        <td><nwn-cell-item nwnCellItem="promo"></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                    </tr>
                    <tr class="whitespace-nowrap">
                        <th scope="row" class="sticked freeze_horizontal">
                            <nwn-cell-week-item type="lowholidayweek" [active]="true"></nwn-cell-week-item>
                        </th>
                        <td><nwn-cell-item nwnCellItem="promo"></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                    </tr>
                    <tr class="whitespace-nowrap">
                        <th scope="row" class="sticked freeze_horizontal">
                            <nwn-cell-week-item type="lowholidayweek" [active]="true"></nwn-cell-week-item>
                        </th>
                        <td><nwn-cell-item nwnCellItem="promo"></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                    </tr>
                    <tr class="whitespace-nowrap">
                        <th scope="row" class="sticked freeze_horizontal">
                            <nwn-cell-week-item type="lowholidayweek" [active]="true"></nwn-cell-week-item>
                        </th>
                        <td><nwn-cell-item nwnCellItem="promo"></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                    </tr>
                    <tr class="whitespace-nowrap">
                        <th scope="row" class="sticked freeze_horizontal">
                            <nwn-cell-week-item type="lowholidayweek" [active]="true"></nwn-cell-week-item>
                        </th>
                        <td><nwn-cell-item nwnCellItem="promo"></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                        <td><nwn-cell-item></nwn-cell-item></td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</div>
