<div class="w-[650px] bg-white mx-auto my-6">
    <div class="border-b border-marsgray-200">
        <nwn-command-header type="stroke" nwnSvgIcon="pricing-tool">Pricing Scenario Builder</nwn-command-header>
    </div>
    <div class="border-b border-marsgray-200">
        <nwn-command-search [hideClose]="true"></nwn-command-search>
    </div>
    <div>
        <nwn-command-iconitem type="stroke" nwnSvgIcon="filter" [hideTick]="true">Set filter</nwn-command-iconitem>

        <nwn-command-iconitem type="stroke" nwnSvgIcon="plus" [hideTick]="true">Load scenario</nwn-command-iconitem>
        <nwn-command-iconitem type="stroke" nwnSvgIcon="plus" [hideTick]="true"
            >Add Product Groups</nwn-command-iconitem
        >
    </div>
    <nwn-search-footer [showKeyBoardCtrl]="true"></nwn-search-footer>
</div>
