<div class="w-[650px] bg-white mx-auto my-6">
    <div class="border-b border-marsgray-200">
        <nwn-command-header type="stroke" nwnSvgIcon="arrow-compare">Compare scenario</nwn-command-header>
    </div>
    <div class="bg-gray-100 border-b border-marsgray-200">
        <div class="flex flex-row flex-wrap px-6">
            <div class="pr-6">
                <nwn-tab-cta (click)="toggleTabs(1)" [type]="openTab === 1 ? 'selectedtab' : 'unselectedtab'">All</nwn-tab-cta>
            </div>
            <div class="pr-6">
                <nwn-tab-cta (click)="toggleTabs(2)" [type]="openTab === 2 ? 'selectedtab' : 'unselectedtab'">Promo Scenario Builder</nwn-tab-cta>
            </div>
            <div class="pr-6">
                <nwn-tab-cta (click)="toggleTabs(3)" [type]="openTab === 3 ? 'selectedtab' : 'unselectedtab'">Promo Optimizer</nwn-tab-cta>
            </div>
        </div>
    </div>
    <div class="border-b border-marsgray-200">
        <nwn-command-search [value]="searchText" [placeholder] = "'Search saved scenario'" (inputChangeEvent) = "inputChangeEvent($event)" [hideClose]="true"></nwn-command-search>
    </div>
    <div class="h-[448px] scrollbar-y px-6 py-4 bg-white space-y-3" [ngClass]="{ hidden: openTab !== 2, block: openTab === 2 }">
        <div class="border border-marsgray-300" *ngFor="let promotion of list_promotion_promo | appFilter: searchText : 'promo';">
            <nwn-scenario-load-card [value] = "promotion.id" (changeCheckboxEvent)="toggleId($event)" [id] = "promotion" [showInfo]="true" [showCheckbox]="true" (infoClickedEvent)="infoClicked($event)" [showSubHead]="true" [checkedValue]="promotion.checked">
                <p slcHead>{{promotion.name}}</p>
                <p slcContent>
                    {{promotion.comments}}
                </p>
            </nwn-scenario-load-card>
        </div>
    </div>
    <div class="h-[448px] scrollbar-y px-6 py-4 bg-white space-y-3" [ngClass]="{ hidden: openTab !== 1, block: openTab === 1 }">
        <div class="border border-marsgray-300" *ngFor="let promotion of list_promotion | appFilter: searchText : 'promo';">
            <nwn-scenario-load-card [value] = "promotion.id" (changeCheckboxEvent)="toggleId($event)" [showCheckbox]="true" [showSubHead]="true" [checkedValue]="promotion.checked">
                <p slcHead>{{promotion.name}}</p>
                <p slcContent>
                    {{promotion.comments}}
                </p>
            </nwn-scenario-load-card>
        </div>
    </div>
    <div class="h-[448px] scrollbar-y px-6 py-4 bg-white space-y-3" [ngClass]="{ hidden: openTab !== 3, block: openTab === 3 }">
        <div class="border border-marsgray-300" *ngFor="let promotion of list_promotion_optimizer | appFilter: searchText : 'promo';">
            <nwn-scenario-load-card [value] = "promotion.id" (changeCheckboxEvent)="toggleId($event)" [showCheckbox]="true" [showSubHead]="true" [checkedValue]="promotion.checked">
                <p slcHead>{{promotion.name}}</p>
                <p slcContent>
                    {{promotion.comments}}
                </p>
            </nwn-scenario-load-card>
        </div>
    </div>
    
    <nwn-search-footer (click) = "openComparePopup()" [showKeyBoardCtrl]="true" [showCompare]="true"></nwn-search-footer>
</div>
<nwn-modal id="promo-simulator-popup-compare" class="hidden">
    <nwn-promo-simulator-scenario [currency]="currency" (deleteClicked) = "deleteClickedEvent($event)" [promotion_viewed] = "promotion_viewed"></nwn-promo-simulator-scenario>
</nwn-modal>
