.arrow_box {
    position: relative;
    background: #ffffff;
}
.arrow_box:after {
    bottom: 100%;
    left: 4%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #f4f4f5;
    border-width: 8px;
    margin-left: -6px;
    z-index: 99;
}
