[data-letters]:before {
    content:attr(data-letters);
    display:inline-block;
    font-size:1em;
    width:2.5em;
    height:2.5em;
    line-height:2.5em;
    text-align:center;
    border-radius:50%;
    background: #0000A0;
    vertical-align:middle;
    margin-right:1em;
    color:white;
    }

[data-leters]:before {
    border: 2px solid white;
    content: attr(data-letters);
    display: inline-block;
    font-size: 1.5em;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.3em;
    text-align: center;
    border-radius: 50%;
    background: #0000A0;
    vertical-align: middle;
    margin-right: 0em !important;
    color: white;
    }

.signout-popup{
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
}
.text-center {
    text-align: center;
}

.bg-div{
    margin-top: 0px;
    height: 200px;
    background-image: linear-gradient(#82829e 35%, #ffffff 35%);
    border-radius: 4px;
    padding-top: 45px;
}

.sign-out {
    background-color: #ffffff;
    font-size: small;
    border: 1px solid #dadce0;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    letter-spacing: .15px;
    margin: 16px;
    outline: 0;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    white-space: normal;
    cursor: pointer;
}

.mail-text {
    font-size: 12px !important;
    color: #5f6368;
    letter-spacing: normal;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.user-name {
    font-size: 15px;
    color: black;
    font: 500 16px/22px Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    letter-spacing: 0.29px;
    margin: 0;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.my-scenario-icon {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}