<div class="w-[650px] bg-white mx-auto my-6">
    <div class="border-b border-marsgray-200">
        <nwn-command-header type="stroke" nwnSvgIcon="adjustments">Pricing scenario</nwn-command-header>
    </div>
    <div class="h-auto bg-white">
        <div class="px-6 py-4 bg-white">
            <nwn-scenario-load-card>
                <p slcHead>Promo scenario name</p>
                <p slcContent>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi enim ultrices eget donec in nunc, mi
                    nisl elit. Nibh proin vitae faucibus tempor mauris, justo. Turpis adipiscing egestas.
                </p>
            </nwn-scenario-load-card>
        </div>
        <div class="border border-gray-200 px-2 bg-gray-100">
            <nwn-cell-header type="headersm">Filters</nwn-cell-header>
        </div>
        <div class="grid grid-cols-2">
            <div>
                <nwn-metric-item-popup>
                    <p metricPopHead>$19.82</p>
                    <p metricPopContent>List price (simulated)</p>
                </nwn-metric-item-popup>
            </div>
            <div>
                <nwn-metric-item-popup>
                    <p metricPopHead>$24.20</p>
                    <p metricPopContent>RSP w/o VAT (simulated)</p>
                </nwn-metric-item-popup>
            </div>
            <div>
                <nwn-metric-item-popup>
                    <p metricPopHead>$5.15</p>
                    <p metricPopContent>COGS (simulated)</p>
                </nwn-metric-item-popup>
            </div>
            <div>
                <nwn-metric-item-popup>
                    <p metricPopHead>-2.5</p>
                    <p metricPopContent>Price elasticity (base)</p>
                </nwn-metric-item-popup>
            </div>
        </div>
    </div>
    <nwn-search-footer [showClose]="true"></nwn-search-footer>
</div>
