<div class="w-[650px] bg-white mx-auto my-6">
    <div class="border-b border-marsgray-200">
        <nwn-command-header type="stroke" nwnSvgIcon="adjustments">Pricing scenario</nwn-command-header>
    </div>
    <div class="h-auto bg-white">
        <div class="px-3 py-4 bg-white">
            <nwn-scenario-load-card>
                <p slcHead>Pricing scenario name</p>
                <p slcContent>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi enim ultrices eget donec in nunc, mi
                    nisl elit. Nibh proin vitae faucibus tempor mauris, justo. Turpis adipiscing egestas.
                </p>
            </nwn-scenario-load-card>
        </div>
    </div>
    <nwn-search-footer [showClose]="true"></nwn-search-footer>
</div>
